<eat-navbar> </eat-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div ng-repeat="event in eventList">
        <div class="card food-item">
          <img class="card-img-top img-fluid" ng-click="goToEvent(event.id)" src="./{{event.picture}}">
          <div class="card-block">
            <div class="card-title clearfix">

              <h4 class="float-left" ng-click="goToProfile(event.host_id)"> {{ getNameForEvent(event.host_id) }} </h4>
              <div class="float-right" ng-bind-html="drawStars(event.host_id)">  <!--  {{drawStars(event.host_id)}} -->
                 
              </div>

            </div>
            <div class="card-subtitle clearfix" ng-click="goToEvent(event.id)">
              <h6 class="mb-2 text-muted float-left">{{ event.cuisine }}</h6>
              <h6 class="float-right"> Entry : {{ event.price }} $</h6>
            </div>
            <p class="card-text" ng-click="goToEvent(event.id)">
              {{ event.description }}
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Posted 3 mins ago...</small>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-inverse bg-faded">
  <!-- Default dropup button -->
  <div class="btn-group dropup" id="filter">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="toggleFilter()">
      Sort
    </button>

    <div class="dropdown-menu">
      <a class="dropdown-item" ng-click="sortByPriceDesc()">Price:Lowest to Highest</a>
      <a class="dropdown-item" ng-click="sortByPriceAsc()">Price:Highest to Lowest </a>
      <a class="dropdown-item" ng-click="sortByRatingDesc()">Rating:Lowest to Highest</a>
      <a class="dropdown-item" ng-click="sortByRatingAsc()">Rating:Highest to Lowest </a>
      <!-- Dropdown menu links -->
    </div>
  </div>
</nav>
