<body>

<div class="container-fluid">

    <eat-navbar> </eat-navbar>

    <div class="row" id="newEventHeader">
        <div class="col">
            <h1>New Event</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div ng-app="myapp" ng-controller="EventsController">
                <form novalidate>
                    <div class="form-group">
                        <label for="inputEventName">Event Name</label>
                        <input type="text" class="form-control" id="inputEventName" placeholder="Event Name...">
                    </div>
                    <div class="form-group">
                        <label for="inputEventLocation">Location</label>
                        <input type="text" class="form-control" id="inputEventLocation" placeholder="Glasgow..." ng-model="eventToAdd.street">
                    </div>
                    <div class="form-group">
                        <label for="inputEventTime">Event Time</label>
                        <input class="form-control" id="inputEventTime" type="time" id="sampleInput" name="input" ng-model="eventToAdd.time"
                               placeholder="HH:mm:ss" min="00:00:00" max="24:00:00" required />

                    </div>
                    <div class="form-group">
                        <label for="inputEventDate">Event Date</label>

                        <datepicker date-format="MMMM d, y"


                                    date-min-limit="2017/03/01"
                                    date-max-limit="2018/09/07"

                                    button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                    button-next='<i class="fa fa-arrow-circle-right"></i>'>
                            <input  id="inputEventDate" class="form-control" type="text" ng-model="eventToAdd.date" />
                        </datepicker>
                    </div>
                    <div class="form-group">
                        <label for="inputFoodType">Food Type</label>
                        <input type="text" class="form-control" id="inputFoodType" placeholder="Food Type..." ng-model="eventToAdd.cuisine">
                    </div>
                    <div class="form-group">
                        <label for="inputEventDescription">Description</label>
                        <input type="text" class="form-control" id="inputEventDescription" placeholder="Event Description..." ng-model="eventToAdd.description">
                    </div>
                    <div class="form-group">
                        <label for="inputEventPrice">Price</label>
                        <input type="number" class="form-control" id="inputEventPrice" placeholder="0" ng-model="eventToAdd.price">
                    </div>
                    <div class="form-group">
                        <label for="inputEventImage">Event Image</label>
                        <input type="file" accept="image/*" class="form-control" id="inputEventImage" ng-model="eventToAdd.image">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addEvent()">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>
