/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-03-17, 16:35:41
    Author     : Ksenia
*/


.container-fluid  {
    min-height: 100vh;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left:-20px;
    margin-right:-20px;
   font-size: 20px;
   line-height: 2;
}


.vertical-center {
  background-color: white;
  min-height: 100%;
  display: flex;
  align-items: center;
}


.container {

}
