<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">

    <a class="nav-link">
        <i class="fa fa-chevron-left" aria-hidden="true" ng-click="goBack()"></i>
    </a>

    <a class="nav-item abs-center-x" href="#">
        <img src="images/icon.jpg" width="30" height="30">
    </a>

    <button ng-click="toggleNavbar()" id="navbar-button" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menuItems" aria-controls="menu-items" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="menuItems">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" ng-click="goHome()">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="goToYourEvents()">Hosting Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="goToAttendingEvents()">Upcomming Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="goToPreviousEvent()">Atended Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="goToMap()">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="goToNewEvent()">Add New Event</a>
            </li>
        </ul>
    </div>

</nav>

<script>
    function goBack() {
        window.history.back();
    }
</script>
